@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital@1&family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@400;700&display=swap');
@font-face {
    font-family: 'Enfonix';
    src: url('../assets/font/enfonix/Enfonix-DEMO.otf') format('truetype');
}
@font-face {
    font-family: 'Black bison';
    src: url('../assets/font/black-bison/Black\ Bison.ttf') format('truetype');
}
@font-face {
    font-family: 'SVN-Avo';
    src: url('../assets/font/SVN-Avo.ttf') format('truetype');
}
@font-face {
    font-family: 'Berlin Sans FB';
    src: url('../assets/font/berlin-sans-fb-cufonfonts/BRLNSR.TTF') format('truetype');
}
@font-face {
    font-family: 'Josefin Sans';
    src: url('../assets/font/Josefin_Sans/JosefinSans-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Benzin Bold';
    src: url('../assets/font/Font_Benzin/Font_Benzin/Benzin\ Bold.ttf') format('truetype');
}

body {
    max-height: 100vh;
    overflow: hidden;

    @media (max-width: 768px) {
        overflow: auto;
    }
}

.bg-custom {
    background-image: url(../assets/bg-eog-version-12.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: 768px) {
        height: auto;
    }
}

.bg-gradient {
    background: rgb(213, 49, 249);
    background: linear-gradient(
        82deg,
        rgba(213, 49, 249, 1) 8%,
        rgba(146, 141, 226, 1) 26%,
        rgba(114, 178, 217, 1) 52%,
        rgba(102, 203, 217, 1) 69%,
        rgba(42, 228, 195, 1) 81%
    );
    width: 100%;
    height: 100vh;
    @media (max-width: 768px) {
        height: auto;
    }
}

.bg-wojak {
    background-image: url(../assets/bg-wojak.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: 768px) {
        height: auto;
    }
}

.bg-avatar {
    background: linear-gradient(rgba(255, 227, 99, 1), rgba(254, 173, 17, 1));
}
.all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-title {
    font-size: 80px;
    line-height: 80px;
    font-weight: 700;
    font-family: 'Luckiest Guy', cursive;
}

.text-content {
    font-weight: 400;
    font-size: 36px;
    line-height: 72px;
    font-family: 'SVN-Avo';
}

.shadow-custom {
    // box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.25);
    transition: transform 0.1s;
    &:hover {
        transform: translateY(2px);
    }
}

.shadow-box {
    box-shadow: 8px 8px 0px 0px #00000040;
    transition: transform 0.1s;
}

.blur-10 {
    // backdrop-filter: blur(14px);
    // background: linear-gradient(rgb(225 127 127 / 68%), rgb(223 14 14 / 17%));
    background: #a923e8;
}
.blur-20 {
    background: rgba(194, 130, 55, 0.2);
}

.text-btn {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #432627;
    font-family: 'Josefin Sans';

    @media (max-width: 768px) {
        font-size: 24px;
        line-height: 36px;
    }
}

.text-title-box {
    line-height: 90px;
    font-weight: 400;
    font-family: 'Benzin Bold', cursive;
}

.text-content-box {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    text-align: justify;
    font-family: 'Benzin Bold', cursive;

    @media (max-width: 768px) {
        font-size: 28px;
        line-height: 48px;
    }
}

.text-title-token {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: start;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Luckiest Guy', cursive;

    @media (max-width: 768px) {
        font-size: 22px;
        line-height: 36px;
    }
}

.text-token {
    font-size: 18px;
    line-height: 24px;
    font-weight: 100;
    font-family: 'BenchNine', sans-serif;
    text-transform: uppercase;

    @media (max-width: 768px) {
        font-size: 16px;
        line-height: 34px;
        font-family: 'Luckiest Guy';
    }
}

.text-address {
    font-size: 13px;
    line-height: 24px;
    font-weight: 100;
    font-family: 'SVN-Avo';
    text-transform: uppercase;

    @media (max-width: 768px) {
        font-size: 14px;
        line-height: 36px;
    }
}

.text-footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    font-family: cursive;
}

.scale-icon {
    transition: transform 0.5s ease;
    &:hover {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}
